*{
	margin: 0px;
	padding: 0px;
}

div.game{
    font-family: "Verdana";
}

div.clickables{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80%;
    height: 90%;
    background-color: #303030;
}

div.upgrades{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 20%;
    height: 100%;
    background-color: #505050;
}

div.weapons{
    height: 50%;
    overflow-y: scroll;
}

div.armor{
    height: 50%;
    overflow-y: scroll;
    background-color: #555555;
}

div.stats{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 80%;
    height: 15%;
    background-color: #606060;
}